<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Reviews</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f7f7f7;
            }

            #container {
                max-width: 1000px;
                margin: 0 auto;
                padding: 20px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            }

            h1 {
                text-align: center;
                color: #0070c9;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }

            th,
            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 10px;
            }

            th {
                background-color: #f2f2f2;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            a {
                text-decoration: none;
                color: #0070c9;
            }

            .filter-container {
                text-align: center;
                margin-top: 20px;
            }

            #filteredTextBox {
                padding: 5px;
                width: 70%;
                font-size: 16px;
                border: 1px solid #ccc;
                margin-left: 70px;
            }

            #clickButton {
                padding: 10px 20px;
                background-color: #0070c9;
                color: #fff;
                border: none;
                cursor: pointer;
                font-size: 16px;
            }

            #clickButton:hover {
                background-color: #00588A;
            }

            #statisticsButton {
                padding: 10px 20px;
                background-color: #0070c9;
                color: #fff;
                border: none;
                cursor: pointer;
                font-size: 16px;
                margin-top: 20px;
            }

            #statisticsButton:hover {
                background-color: #00588A;
            }

            #statistics {
                text-align: center;
                margin-top: 20px;
            }

            .filter-container {
                text-align: center;
                margin-top: 20px;
            }

            #filteredTextBox {
                padding: 5px;
                width: 40%;
                font-size: 16px;
                border: 1px solid #ccc;
            }

            #sortSelect {
                font-size: 16px;
                margin-left: 10px;
            }

            #clickButton {
                padding: 5px 15px;
                background-color: #0070c9;
                color: #fff;
                border: none;
                cursor: pointer;
                font-size: 12px;
                margin-left: 10px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>Reviews</h1>
            <div class="filter-container">
                <label for="sortSelect">評価でソート:</label>
                <select id="sortSelect">
                    <option value="asc">低い順</option>
                    <option value="desc">高い順</option>
                </select>
                <input type="text" id="filteredTextBox" placeholder="名前で絞り込み">
                <button id="clickButton">絞り込み</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ユーザー</th>
                        <th>年齢</th>
                        <th>評価</th>
                        <th>レビュー</th>
                    </tr>
                </thead>
                <tbody>
                    <% personas.forEach(function(persona) { %>
                        <tr class="persona-row" data-persona-id="<%= persona.id %>">
                            <td>
                                <%= persona.name %>
                            </td>
                            <td>
                                <%= persona.age %>歳
                            </td>
                            <td>
                                <%= persona.rating %>
                            </td>
                            <td>
                                <%= persona.review %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <div id="statistics">
                <button id="statisticsButton">統計情報表示</button>
                <div id="ratingStatistics"></div>
            </div>
            <p><a href="/create">レビューを追加</a></p>
        </div>
        <script type="text/javascript">
            let personas = [];
            personas = JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(personas)) %>'));

            console.log(personas)

            function convertStarsToNumber(stars) {
                const starCount = (stars.match(/★/g) || []).length;
                const halfStarCount = (stars.match(/☆/g) || []).length;

                return starCount - halfStarCount;
            }

            const sortSelect = document.getElementById('sortSelect');
            sortSelect.addEventListener('change', sortData);

            function sortData() {
                console.log('テスト');
                const sortDirection = sortSelect.value;
                const rows = Array.from(document.querySelectorAll('.persona-row'));

                console.log("ソート前のデータ: ");
                rows.forEach((row) => {
                    const personaId = row.dataset.personaId;
                    const persona = personas.find((p) => p.id === personaId);
                    console.log(`ID: ${persona.id}, 評価: ${persona.rating}`);
                });

                rows.sort((a, b) => {
                    const personaIdA = a.dataset.personaId;
                    const personaIdB = b.dataset.personaId;
                    const personaA = personas.find((p) => p.id === personaIdA);
                    const personaB = personas.find((p) => p.id === personaIdB);
                    const ratingA = convertStarsToNumber(personaA.rating);
                    const ratingB = convertStarsToNumber(personaB.rating);

                    if (sortDirection === 'asc') {
                        return ratingA - ratingB;
                    } else {
                        return ratingB - ratingA;
                    }
                });

                console.log("ソート後のデータ: ");
                rows.forEach((row) => {
                    const personaId = row.dataset.personaId;
                    const persona = personas.find((p) => p.id === personaId);
                    console.log(`ID: ${persona.id}, 評価: ${persona.rating}`);
                });

                const tbody = document.querySelector('tbody');
                tbody.innerHTML = '';

                rows.forEach((row) => {
                    tbody.appendChild(row);
                });
            }


        </script>
    </body>
</html>
